.navbar-brand {
    padding-left: 5%;
    padding-right: 5%;
}

.padded {
    padding: 1%;
}

.rounded {
    border-radius: 10px;
}

.loginmargin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.margin-tb {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-lr {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
}

.wide {
    width: 100%;
}

.p-2 {
    margin-right: 5%;
    margin-left: 5%;
}
